# Assignment (Titanic)

Rui Mendes (ruidamendes@ua.pt)

*Data Science Portugal (meetup)*


20 Sept. 2016

--------------------

![alt text](http://upload.wikimedia.org/wikipedia/commons/6/6e/St%C3%B6wer_Titanic.jpg)

In [ ]:
%matplotlib inline

# load libraries and set styles, options
import warnings; warnings.simplefilter('ignore')


import numpy as np
import pandas as pd
import seaborn as sns

import matplotlib.pyplot as plt
import matplotlib 
matplotlib.style.use('ggplot')

from pandas import set_option
set_option("display.max_rows", 16)


LARGE_FIGSIZE = (12, 8)

filePath = 'titanic.csv'


## Load and Explore the Data

### 1. Read the data from CSV file to a dataframe named titanic.

*Note*: use index_col=0 inside the function read_csv.

In [ ]:
titanic = #### YOUR CODE HERE ####

### 2 - List the first 10 rows of the dataframe

In [ ]:
#### YOUR CODE HERE ####

### 3 - And now the last 5

In [ ]:
#### YOUR CODE HERE ####

### 4 - What is the dimension of the Dataframe (rows and columns)

In [ ]:
#### YOUR CODE HERE ####

### 5 - Look at the first 15 rows of the Age column

In [ ]:
#### YOUR CODE HERE ####

### 6 - What is the average of the age? And the median, max and the min?

In [ ]:
print('Mean: ', #### YOUR CODE HERE ####)
print('Median: ', #### YOUR CODE HERE ####)
print('Max: ', #### YOUR CODE HERE ####)
print('Min: ', #### YOUR CODE HERE ####)

### 7 - Generate various descriptive statistics on the DataFrame (tip: describe method)

In [ ]:
#### YOUR CODE HERE ####

Now it's time to investigate all of those missing Age values.
### 8 . How many Nan values exists in the Age column?

In [ ]:
len(#### YOUR CODE HERE ####)

### 9 - Fill Nan values with the median in the Age column (and verify that there are not nan values now)
*Tip*: use inplace=True to persist

In [ ]:
#### YOUR CODE HERE ####

len(titanic[titanic['age'].isnull()])

### 10 - Filtering data is another important tool if we are investigating the data by hand. The .describe() command had indicated that the maximum age was 80. What do the older passengers look like in this data set (>60 years)? 

*Tip*: list the first 10 rows which age > 60.

In [ ]:
#### YOUR CODE HERE ####

### Let's get only a few columns for the same data, mixing the gender, sex and passenger class of these older people

In [ ]:
titanic[titanic['age'] > 60][['sex', 'pclass', 'age', 'survived']].head(10)

## Transform data

### 11 - Let's transform sex categories into 0 and 1's. Use female = 0 and male = 1 and name the new column gender.

In [ ]:
f = {'female': 0, 'male': 1}

titanic['gender'] = #### YOUR CODE HERE ####

titanic[['sex', 'gender']].head(5)

### 12 - Since we know that parch is the number of parents or children onboard, and sibsp is the number of siblings or spouses, we could collect those together as a FamilySize (plus one)

In [ ]:
titanic['FamilySize'] = #### YOUR CODE HERE ####

titanic[['sibsp', 'parch', 'FamilySize']].head(5)

### 13 - Now, we can discard some columns (ticket and name)

In [ ]:
#### YOUR CODE HERE ####

titanic.columns

## Plotting

### Plot the number of deaths and survival

In [ ]:
titanic['survived'].value_counts().plot(kind='bar', title='Death and Survival Counts')

### 14 - Plot a bar chart with the number of male and female passengers

*Tip*: use value_counts method

In [ ]:
#### YOUR CODE HERE ####

### 15 - The same above, but only with the surivers.

*Tip*: use groupby method

In [ ]:
#### YOUR CODE HERE ####

### Let's plot a histogram of the age.

In [ ]:
titanic['age'].hist(bins=16, range=(0,80), alpha = .5)

### Kernel density estimate plot of the Age  of the subset of the 1st class passangers's age

In [ ]:
plt.figure(figsize=(18,6)) 
# plots a kernel density estimate of the subset of the 1st class passangers's age
titanic.age[titanic.pclass == '1st'].plot(kind='kde')    
titanic.age[titanic.pclass == '2nd'].plot(kind='kde')
titanic.age[titanic.pclass == '3rd'].plot(kind='kde')
 # plots an axis lable
plt.xlabel("Age")    
plt.title("Age Distribution within classes")
# sets our legend for our graph.
plt.legend(('1st Class', '2nd Class','3rd Class'),loc='best')

# Optional questions (advanced)

### Titanic - Women and children first?

#### 1. Calculate the proportion of passengers that survived "grouped" by sex

In [ ]:
#### YOUR CODE HERE ####

#### 2. Calculate the proportion of passengers that survived "grouped" by sex and pclass (Passenger Class)

In [ ]:
#### YOUR CODE HERE ####

#### 3. Create age categories (children <14 years, teenager 14-20 years, adults 20-65, seniors 65+) and calculate the proportion and count of passengers that survived "grouped" by sex, pclass and age category

In [ ]:
#### YOUR CODE HERE ####